body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 1.25rem;
    text-align: center;
    border-bottom: 0.0625rem solid #444;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    font-family: 'Times New Roman', serif;
}

.navigation ul, .sub-navigation ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 1.25rem 0;
    list-style: none;
}

.navigation ul li, .sub-navigation ul li {
    margin: 0 0.9375rem;
}

.navigation ul li a, .sub-navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.875rem;
}

.navigation ul li a:hover, .sub-navigation ul li a:hover {
    color: #ccc;
}

.sub-navigation ul li a {
    font-size: 0.75rem;
}

.banner{
    padding: 25px;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    margin: 0 auto;
    padding-bottom: 1.25rem;
    border-bottom: 0.13rem solid #555555;
    margin-bottom: 1.87rem;
    margin-top: 0.125rem;

}

#carouselExampleIndicators {
    width: 40%;
    height: 50%;
    display: inline-block;
    align-items: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    margin: 0 auto;
    padding-bottom: 1.25rem;
    border-bottom: 0.13rem solid #555555;
}

.campaign{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    margin: 0 auto;
    padding: 1.25rem;
    border-bottom: 0.13rem solid #555555;
}

.fragrance{
    background-color: #c0c0c0;
    box-shadow: 10px 10px 5px white;
    color: black;
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin: 100px;
    align-items: center;
    padding: 30px;
    border-radius: 0.625rem;
}

.footer {
    text-align: center;
    padding: 1.25rem;
    border-top: 0.0625rem solid #555;
    margin-top: 0.875rem;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    margin: 0 0.625rem;
}