body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
}
.header {
    padding: 1.25rem;
    text-align: center;
    border-bottom: 0.0625rem solid #444;
}

.logo {
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    font-family: 'Times New Roman', serif;
}

.navigation ul, .sub-navigation ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 1.25rem 0;
    list-style: none;
}

.navigation ul li, .sub-navigation ul li {
    margin: 0 0.9375rem;
}

.navigation ul li a, .sub-navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 0.875rem;
}

.navigation ul li a:hover, .sub-navigation ul li a:hover {
    color: #ccc;
}

.sub-navigation ul li a {
    font-size: 0.75rem;
}


.title {
    max-width: 75rem;
    text-align: center;
    margin: 0 auto;
    border-bottom: 0.125rem solid #555555;
    padding-bottom: 0.125rem;
    margin-bottom: 1.87rem;
    margin-top: 0.125rem;
}

.title img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

.note {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.625rem;
    margin: 0 auto;
    padding-bottom: 1.25rem;
    border-bottom: 0.13rem solid #555555;
    margin-bottom: 1.87rem;
    margin-top: 0.125rem;
}

.citrus {
    width: 1.25rem;
    height: 1.25rem;
    background-color: yellow;
    color: black;
    transition: width 2s;
    overflow: hidden;
}

.citrus p {
    opacity: 0;
    transition: opacity 0.5s;
}

.citrus:hover {
    width: 12.5rem;
}

.citrus:hover p {
    opacity: 1;
}

.whitefloral{
    width: 1.25rem;
    height: 1.25rem;
    background-color: white;
    color: black;
    transition: width 2s;
    overflow: hidden;
}

.whitefloral p{
    opacity: 0;
    transition: opacity 0.5s;
}

.whitefloral:hover{
    width: 12.5rem;
}

.whitefloral:hover p {
    opacity: 1;
}

.patchouli{
    width: 1.25rem;
    height: 1.25rem;
    background-color: #988558;
    color: black;
    transition: width 2s;
    overflow: hidden;
}

.patchouli p{
    opacity: 0;
    transition: opacity 0.5s;
}

.patchouli:hover{
    width: 12.5rem;
}

.patchouli:hover p {
    opacity: 1;
}

.citrus, .whitefloral, .patchouli{
    padding: 1.25rem;
    margin: 0.625rem;
    display: block;
}

.freshspicy {
    width: 1.25rem;
    height: 1.25rem;
    background-color: darkseagreen;
    color: black;
    transition: width 2s;
    overflow: hidden;
}

.freshspicy p {
    opacity: 0;
    transition: opacity 0.5s;
}

.freshspicy:hover {
    width: 12.5rem;
}

.freshspicy:hover p {
    opacity: 1;
}

.woody {
    width: 1.25rem;
    height: 1.25rem;
    background-color: #C19A6B;
    color: black;
    transition: width 2s;
    overflow: hidden;
}

.woody p {
    opacity: 0;
    display: none;
    transition: opacity 0.5s;
}

.woody:hover p {
    display: block;
    opacity: 1;
}

.woody:hover {
    width: 12.5rem;
}

.sweet {
    width: 1.25rem;
    height: 1.25rem;
    background-color: #F88379;
    color: black;
    transition: width 2s;
    overflow: hidden;
}

.sweet p {
    opacity: 0;
    transition: opacity 0.5s;
}

.sweet:hover {
    width: 12.5rem;
}

.sweet:hover p {
    opacity: 1;
}

.note{
    text-align: center;
    display: block;
}
.citrus, .whitefloral, .patchouli , .woody , .freshspicy, .sweet {
    display: flex;
    justify-content: flex-start;
    gap: 0.625rem;
    flex-wrap: wrap;
    padding: 1.25rem;
    margin: 0.625rem 0;
}


.notes {
    margin-left: 2rem;
}

.perfume {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    margin: 0 auto;
    padding: 5rem;
    border-bottom: 0.13rem solid #555555;
    text-align: center;

}

.perfume img {
    max-width: 100%;
    height: auto;
}

.story {
    position: relative;
    margin: 20px;
}

.story h3 {
    text-align: center;
    top: 0;
    padding: 10px;
    margin: 0;

}

.content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
}

.content .text {
    flex: 1;
    padding-right: 20px;
}

.content .stories {
    flex-shrink: 0;
}

.content img {
    max-width: 100%;
    height: auto;
    margin: 10px;
}


.footer {
    text-align: center;
    padding: 1.25rem;
    border-top: 0.1rem solid #555;
    margin-top: 4rem;
}

.footer a {
    color: #fff;
    text-decoration: none;
    font-size: 0.875rem;
    margin: 0 1rem;
}



