body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
}

.header {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #444;
}

.logo {
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 4px;
    font-family: 'Times New Roman', serif;
}

.navigation ul, .sub-navigation ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 20px 0;
    list-style: none;
}

.navigation ul li, .sub-navigation ul li {
    margin: 0 15px;
}

.navigation ul li a, .sub-navigation ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.navigation ul li a:hover, .sub-navigation ul li a:hover {
    color: #ccc;
}

.sub-navigation ul li a {
    font-size: 12px;
}

.pics{
    padding: 25px;
    text-align: center;
}
